html {
  height: 100%;
  font-size: 100%;
}

body {
  font: 14px/20px 'Open sans', Arial, Tahoma;
  width: 100%;
  height: 100%;
  background-color: #faf8fb;
  color: #293237;
}

a {
  color: #293237;
}

a:hover {
  color: #c62f21;
  text-decoration: none;
}

.h-nav {
  float: left;
  padding: 10px 0;
}

.h-nav a {
  margin-right: 33px;
  font-size: 13px;
  color: #78828c;
}

.h-nav a:last-child {
  margin-right: 0;
}

.h-nav a:hover {
  color: #c62f21;
  text-decoration: none;
}

.h-nav-center {
  border-right: 1px solid #e8ecf2;
  border-left: 1px solid #e8ecf2;
  padding: 10px 30px;
}

.h-nav-tabs {
  padding: 10px 25px 10px 10px;
}

.h-nav-tabs a {
  font-size: 11px;
  text-transform: uppercase;
}

.icont {
  padding-right: 5px;
}

.iconl {
  padding-left: 5px;
}

.iconr {
  padding-left: 5px;
  padding-right: 5px;
  color: black;
}

.icone {
  padding-right: 5px;
  color: crimson;
}

.header-bottom {
  background: #fff;
  padding: 0px 0 0px;
  border-top: 1px solid #e8ecf2;
}

.h-search {
  position: relative;
}

.h-search input[type="text"] {
  height: 50px;
  width: 100%;
  padding: 0 30px 0 10px;
  border: 2px solid black;
  border-radius: 20px;
}

.h-search input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  border-radius: 20px;
  background-color: black;
  color: white;
}

form {
  margin-top: 10px;
}

.logo {
  padding: 15px 5px 5px 5px;
}

.h-phone {
  display: block;
  padding: 10px 10px 10px 20px;
}

.h-phone a:focus {
  text-decoration: none;
}

.h-phone small {
  font-size: 11px;
  color: #78828c;
  padding-left: 30px;
}

.h-phone span {
  display: block;
  font-weight: 800;
  font-size: 20px;
  color: #464446;
}

.panel {
  padding: 5px 0;
  background-color: black;
}

.panel .btn {
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid white;
}

.panel a:hover {
  background-color: crimson;
}

.panel-menu-wrap {
  position: relative;
  float: left;
}

.panel-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: auto;
  margin: 3px 0 0 0;
  padding: 10px 0 0 0;
  list-style-type: none;
  background: #fff;
  border: 1px solid #e8ecf2;
  border-radius: 5px;
}

.panel-menu ul {
  display: none;
}

.panel-menu a {
  display: block;
  font-size: 18px;
  line-height: 18px;
  padding: 6px 20px 6px 17px;
  letter-spacing: -0.5px;
  border-left: 3px solid transparent;
}

.panel-menu a i {
  float: right;
}

.panel-menu a:hover {
  color: white;
}

.divider {
  margin: 0px 0;
  border-top: 1px solid black;
}

.sale {
  padding-left: 30px;
}

.btn-menu {
  text-decoration: none;
}

.iconq {
  color: black;
}

.iconw {
  color: red;
}

.content {
  padding: 0;
}

.product-wrap {
  background: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
}

.product {
  padding: 20px 20px 25px;
  border-right: 1px solid #e8ecf2;
  border-bottom: 1px solid #e8ecf2;
}

.product:nth-child(3n) {
  border-right: none;
}

.product:hover {
  background: #e8ecf2;
}

.product-img {
  text-align: center;
  height: 235px;
  border-bottom: 1px solid #e8ecf2;
}

.product-img img {
  display: inline-block;
  height: 100%;
  max-width: 100%;
}

.product-footer {
  height: 75px;
}

.product-footer h5 {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
}

.product-footer h5 a {
  font-weigth: 600;
}

.cat {
  font-size: 13px;
  color: #78828c;
}

.price {
  font-weight: 900;
  font-size: 14px;
  color: crimson;
}

.sold-out {
  color: gray;
}
